<%- include('../partials/adminNav') %> 

<div class="adminHome">

    <div class="adminHome__stats">
        <h3 class="admin-section-title">MacroHard Data</h3>

        <div class="adminHome__stats--row">
            <div class="adminHome__stats--row-title">Total Users: </div>
            <div class="adminHome__stats--row-value"><%= uCount %></div>
        </div>
        <div class="adminHome__stats--row">
            <div class="adminHome__stats--row-title">Total Projects: </div>
            <div class="adminHome__stats--row-value"><%= pCount %></div>
        </div>
        <div class="adminHome__stats--row">
            <div class="adminHome__stats--row-title">Total Groups: </div>
            <div class="adminHome__stats--row-value"><%= gCount %></div>
        </div>
        <div class="adminHome__stats--row">
            <div class="adminHome__stats--row-title">Total Tasks: </div>
            <div class="adminHome__stats--row-value"><%= tCount %></div>
        </div>
        <div class="adminHome__stats--row">
            <div class="adminHome__stats--row-title">Total Submissions: </div>
            <div class="adminHome__stats--row-value"><%= sCount %></div>
        </div>
        <div class="adminHome__stats--row">
            <div class="adminHome__stats--row-title">Total Chatrooms: </div>
            <div class="adminHome__stats--row-value"><%= cCount %></div>
        </div>
        

    </div>

</div>