
    <nav class="nav nav-primary">
        <a href="http://localhost:3000/user/<%= userId %>/projects"><img src="/images/SVGS/basic_home.svg" class="svg"></a>
        <a href="http://localhost:3000/user/<%= userId %>/profile"><img src="/images/SVGS/user.svg" class="svg"></a>
        <a href="http://localhost:3000/messages/chat/<%= userId %>"><img src="/images/SVGS/basic_message_multiple.svg" class="svg"></a>
        <a href="http://localhost:3000/user/<%= userId %>/settings"><img src="/images/SVGS/basic_gear.svg" class="svg"></a>
    </nav><nav class="nav nav-secondary">
        <a href="http://localhost:3000/user/<%= userId %>/<%= projId %>/groups"><img src="/images/SVGS/basic_calendar.svg" class="svg"></a>
        <a href="http://localhost:3000/user/<%= userId %>/<%= projId %>/details"><img src="/images/SVGS/lnr-menu.svg" class="svg"></a>
        <a href="http://localhost:3000/user/<%= userId %>/<%= projId %>/members"><img src="/images/SVGS/lnr-users.svg" class="svg"></a>
        <a href="http://localhost:3000/user/<%= userId %>/<%= projId %>/stats"><img src="/images/SVGS/ecommerce_graph2.svg" class="svg"></a>
    </nav>