<%- include('partials/singleNav', {userId})  %> 

<div class="profile-background">
    <div class="container-profile">
        <div class="profile__header" style="background-color: #9faec9;">
            <img src="/images/profileIcons/<%= obj.user.user_img %>" class="header__img header-item" id="USERIMG">
            <div class="header__name header-item"><%= obj.user.user_name %></div>
            <a href="#" class="btn btn__large header__btn header-item" data-popup-target="#editProfile" style="font-size: 2.5rem; background-color: gold; border: 2.5px solid black;">Edit</a>


            <div class="popup" id="editProfile">
                <div class="popup__header">
                    <div class="popup__header-title">Edit Profile:</div>
                    <button data-close-button class="popup__header-close-button">&times;</button>
                </div>
                <div class="popup__body">
                    <form action="/user/<%= obj.user.user_id %>/profile" method="POST">
                        <fieldset>
                            <label for="profile-img" style="width: 100%;">Profile Image:
                                <select name="profileImg" id="sel" style="width: 100%; height: 3.5rem; background-color: white;" >
                                    <option value="default_img.png">White (Default)</option>
                                    <option value="profileIconBlue.png">Blue</option>
                                    <option value="profileIconGreen.png">Green</option>
                                    <option value="profileIconOrange.png">Orange</option>
                                    <option value="profileIconPurple.png">Purple</option>
                                    <option value="profileIconRed.png">Red</option>
                                    <option value="profileIconYellow.png">Yellow</option>
                                </select>
                            </label>
                            
                            <label for="user-title" style="width: 100%;">Title:
                                <input type="text" placeholder="engineer, student, etc.." name="userTitle" style="width: 100%;  height: 3.5rem; padding: 1.5rem;" id="USERTITLE">
                            </label>
                            <label for="user-phone" style="width: 100%;">Phone #:
                                <input type="text" placeholder="XXX-XXX-XXXX" name="userPhone" style="width: 100%; height: 3.5rem; padding: 1.5rem;" id="USERPHONE">
                            </label>
                            <label for="user-location" style="width: 100%;">Location:
                                <input type="text" placeholder="Chicago IL, Houston TX, ..., etc." name="userLocation" style="width: 100%; height: 3.5rem; padding: 1.5rem;" id="USERLOCATION">
                            </label>
                        </fieldset>
                        <input type="submit" name="submit" value="Make Changes" id="submit" class="btn btn__large">
                        
                    </form>
                </div>
            </div>
        </div>



        <div class="profile__content ">
            <div class="profile__content-overview">
                <div class="title">Overview</div>
                <div class="flexrow">
                    <div class="identifier">Title:</div>
                    <div class="value" id="titleValue"><%= obj.user.user_title ? obj.user.user_title : 'Not specified'%></div>
                </div>
                <div class="flexrow">
                    <div class="identifier">Phone:</div>
                    <div class="value" id="phoneValue"><%= obj.user.user_phone ? obj.user.user_phone : 'Not specified'%></div>
                </div>
                <div class="flexrow">
                    <div class="identifier">Email:</div>
                    <div class="value"><%= obj.user.user_email ? obj.user.user_email : 'Not specified'%></div>
                </div>
                <div class="flexrow">
                    <div class="identifier">Location:</div>
                    <div class="value" id="locationValue"><%= obj.user.user_location ? obj.user.user_location : 'Not specified'%></div>
                </div>
                
            </div>
            
        

            <div class="profile__content-stats">
                <div class="title">Personal Statistics</div>
                <div class="flexrow">
                    <div class="identifier">Projects:</div>
                    <div class="value2"><%= obj.projects %></div>
                </div>
                <div class="flexrow">
                    <div class="identifier">Groups:</div>
                    <div class="value2"><%= obj.groups %></div>
                </div>
                <div class="flexrow">
                    <div class="identifier">Tasks:</div>
                    <div class="value2"><%= obj.tasks %></div>
                </div>
                <div class="flexrow">
                    <div class="identifier">AVG Contribution:</div>
                    <div class="value2"><%= obj.user.avg_contribution %></div>
                </div>
            </div>

            <div class="profile__content-badges">
                <div class="title">Badges</div>
                <% obj.badges.forEach(badge => { %>
                    <div class="badge flexrow-badge">
                        <span class="badge__name"><%= badge.name %></span>
                        <img src="/images/badges/<%= badge.img %>" class="badge__img">
                        <p class="badge__des"><%= badge.description %></p>
                        <p class="badge__count">x<%= badge.count %></p>
                    </div>
                <% }) %>            

            </div>


        </div>
        
    </div>
</div>

<div id="overlay"></div>

<script src="/js/popup.js" defer></script>
<script defer>

    let sel = document.getElementById('sel');
    let img = document.getElementById('USERIMG').getAttribute('src').split('/');
    sel.value = img[img.length - 1];

    
    let title = document.getElementById('titleValue').innerHTML;
    let phone = document.getElementById('phoneValue').innerHTML;
    let loc = document.getElementById('locationValue').innerHTML;

    console.log(title + '\n' + phone + '\n' + loc);
    if (title !== 'Not specified') {
        document.getElementById('USERTITLE').value = title;
    }
    if (phone !== 'Not specified') {
        document.getElementById('USERPHONE').value = phone;
    }
    if (loc !== 'Not specified') {
        document.getElementById('USERLOCATION').value = loc;
    }


</script>